<ccm>
  <!--
     You may exclude multiple files and/or folders
  -->
  <exclude>
    <folder>bin</folder>
    <folder>obj</folder>
  </exclude>
    
  <!--
    Add a 'folder' element for each folder containing code to analyze.
    NOTE: Keep in mind that the path is relative to the location of the configuration file, unless you specify and absolute path.
  -->
  <analyze>
    <folder>..\src\GuardClauses</folder>
  </analyze>
  <recursive>yes</recursive>

  <outputter>Console</outputter>
  <numMetrics>2147483647</numMetrics>
  <threshold>0</threshold>
  <suppressMethodSignatures>yes</suppressMethodSignatures>

  <!-- 
    switchStatementBehavior can be one of the following:
        TraditionalInclude - count each case statement in a switch as a branch
        IgnoreCases - don't count case statements in switches as a branch
  -->
  <switchStatementBehavior>TraditionalInclude</switchStatementBehavior>

  <!--
    Add extension you want included. 
  -->
  <fileExtensions>
    <fileExtension>.cs</fileExtension>
  </fileExtensions>
</ccm>


